<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
    body { font-family:Oxygen, Helvetica neue, sans-serif;font-size:20px; }
    .footer { background:#f7f7f7;background-color:#f7f7f7;width:100%; }
    .footer-rowhead { color:#777777;font-style:bold;font-weight:700;line-height:21px;text-align:center; }
    .footer-row {color:#777777;font-family:Oxygen, Helvetica neue, sans-serif;font-size:14px;line-height:21px;text-align:center;}
    </style>
    {% block head %}
    {% endblock head %}
</head>
<body>
{% block content %}
{% endblock content %}
</body>
</html>