{% extends "base.html.j2" %}

{% block content %}
<h1>Home page</h1>
{% if user %}
<i>Signed in as <b>{{user['user_nickname']}}</b></i>
{% else %}
<i>Not signed in</i>
{% endif %}
<ul>
    <li><a href="{{ url_for('register') }}">register</a></li>
    <li><a href="{{ url_for('login') }}">login</a></li>
    <li><a href="{{ url_for('logout') }}">logout</a></li>
    <li><a href="{{ url_for('admin') }}">admin</a></li>
    <li><a href="{{ url_for('profile') }}">profile</a></li>
</ul>
{% endblock content %}
