{% extends "base.html.j2" %}

{% block content %}
<h1>Home page</h1>
<ul>
    <li><a href="{{ url_for('register') }}">register</a></li>
    <li><a href="{{ url_for('login') }}">login</a></li>
    <li><a href="{{ url_for('logout') }}">logout</a></li>
    <li><a href="{{ url_for('admin') }}">admin</a></li>
</ul>
{% endblock content %}
