{% extends "base.html.j2" %}

{% block content %}
<h1>Profile information</h1>
<ul>
    <li>Nickname: {% if current_user.nickname %}{{ current_user.nickname }}{% else %}-{% endif %}</li>
    <li>Email: {{ current_user.email }}</li>
    <li>Verified: {% if current_user.verified_email %}✅{% else %}&#x274C;{% endif %}</li>
</ul>
{% if current_user.verified_email %}
{% else %}
<h3>request verification</h3>
<form method="post">
    <input type="hidden" name="verifyme" value="1">
    <button type="submit">send verification email</button>
</form>
{% endif %}

<h3>edit nickname</h3>
<form method="post">
    <label for="nickname">nickname</label>
    <input type="text" id="nickname" name="nickname" value="{% if current_user.nickname %}{{ current_user.nickname }}{% endif %}">
    <button type="submit">save nickname</button>
</form>
<br><br>
<a href="{{ url_for('homepage') }}">return to homepage</a>
{% endblock content %}
