{% extends "base.html.j2" %}

{% block content %}
<h1>Register an account</h1>
<form method="post" action="{{ url_for('register') }}" validate>
    <label for="email">email</label> 
    <input name="email" id="email" type="email" required autofocus> 
    <br>
    <br>
    <label for="password">password</label>
    <input name="password" id="password" type="password" required>
    <br>
    <button type="submit">sign up</button>
</form>
<br><br>
<a href="{{ url_for('homepage') }}">return to homepage</a>
{% endblock content %}